<div style="padding: 9px">
<h4 style="margin-bottom: 5px; margin-top: 5px">About Us</h4>
<span style="line-height: 22px">Agrawal Classes commenced its journey of providing result oriented coaching to the students of professional courses from December 2002. The initiative taken by Prof. Ritesh Agrawal joined by a league of enthusiastic, dedicated and inspiring faculties has now grown wonderfully over a period, resulting in excellent performance of the students.</span>

<h4 style="margin-bottom: 0px">Our Courses</h4>
<ul style="margin-top: 5px">
  <li>CA CPT</li>
  <li>CA IPCC</li>
  <li>CS FOUNDATION</li>
  <li>CS EXECUTIVE</li>
  <li>CS PROFESSIONAL</li>
  <li>CWA FOUNDATION</li>
  <li>CWA INTERMEDIATE</li>
  <li>ICWA</li>
  <li>CMA</li>
</ul>

<h4 style="margin-bottom: 5px">Contact Us</h4>
<span style="line-height: 22px">Pune Press Owners Building,<br>
Lane opp. Bank of Maharashtra,<br>
L.B. Shastri Road, Navi Peth,<br>
Pune 411 030<br>
Telephone: 8888884444 /9552551234<br>
Website: http://www.agrawalclasses.in</br>
Email: ragrawalclasses@gmail.com</span>
</div>
