<h4>About Us</h4>
Agrawal Classes commenced its journey of providing result oriented coaching to the students of professional courses from December 2002. The initiative taken by Prof. Ritesh Agrawal joined by a league of enthusiastic, dedicated and inspiring faculties has now grown wonderfully over a period, resulting in excellent performance of the students.

<h4>Our Courses</h4>
<ul>
  <li>CA CPT</li>
  <li>CA IPCC</li>
  <li>CS FOUNDATION</li>
  <li>CS EXECUTIVE</li>
  <li>CS PROFESSIONAL</li>
  <li>CWA FOUNDATION</li>
  <li>CWA INTERMEDIATE</li>
  <li>ICWA</li>
  <li>CMA</li>
</ul>

<h4>Contact Us</h4>
<p>Pune Press Owners Building,<br>
Opp. Bank of Maharashtra lane,Shastri Road,Navi Peth,<br>
Near Alka Talkies Theatre Tilak Road,Pune-30<br>
Telephone: 020-30223333 /9552551234<br>
Fax: +61 (2) 9542 3599<br>
Email: ragrawalclasses@gmail.com
</p>
